body {
    background-color: lightblue!important;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
.board {
    margin-left: 33%;
}
.row div {
    width: 40px;
    height: 40px;
    border: 1px solid grey;
    background-color: #0F2944;
    color: lightgray;
}

.gameOver{
    position: absolute;
    top: 10%;
    left: 15%;
}