body {
    background-color: lightblue!important;
    background-size: cover;
}
.board {
    margin-left: 33%;
}
.row div {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: white;
}

.gameOver{
    position: absolute;
    top: 10%;
    left: 15%;
}